.vartaVideoContainer{
    position: relative;
    height: 100vh;
}

.userVideo{
    position: absolute;
    bottom: 10vh;
    left: 0;
    height: 20vh;
    width: auto;
    border-radius: 10px;
}

.conferenceView{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView > video{
    min-width: 30vw;
    width: 40vw;
    border-radius: 10px;
}

.buttonContainer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttonContainer svg{
    font-size: 50px;
}

.chatRoom{
    position: absolute;
    right: 0;
    height: 90vh;
    width: 30vw;
    background: white;
    border-radius: 10px;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.textArea {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}